@import "../node_modules/bootstrap/scss/bootstrap";



$primary-color : teal;




.card{
    justify-content: space-around;
    background-color: #fdb577b4;
    margin: 10%;
}

.d-inline-flex{
    justify-content: center;
}

body{
    background-color: #116466;
}
 
.nav{
    background-color: #0B0C10;
    color: #66FCF1;
    font-weight: bold;
    margin: 10%;
    padding-left: 10;
    padding-right: 10;
    display: flex;
}
.nav-link{
color: #66FCF1;
    font-weight: bold;
}


button{
    background-color: #0072ee;
    color: #ffffff;
}
